/* JobRoadmap.module.css */
.roadmapIframe {
  border: 0;
  border-radius: 0.75rem; /* This is equivalent to rounded-xl in Tailwind */
}

.roadmapIframe::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.roadmapIframe::-webkit-scrollbar-track {
  background-color: transparent;
}

.roadmapIframe::-webkit-scrollbar-thumb {
  background-color: var(--primary-400-transparent);
  border-radius: 4px;
}

.roadmapIframe::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-400);
}
.roadmapIframe a {
  display: none !important;
}
